body.eksi-baslik-gizle {
  width: 250px;
  background-color: #81c14b;
}

h4.eksi-baslik-gizle {
  text-decoration: underline;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

* {
  box-sizing: border-box;
}
