body.eksi-baslik-gizle {
  width: 250px;
  background-color: #81c14b;
}

h4.eksi-baslik-gizle {
  text-decoration: underline;
}

.topic-column {
  float: left;
  width: 79%;
  padding: 10px;
}

.sil-column {
  float: right;
  width: 20%;
  padding: 10px;
} 

* {
  box-sizing: border-box;
}
